.close-button {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #ffffff;
    display: block;
    z-index: 200;
    text-indent: -9999px;
	box-shadow: rgb(28 28 28 / 10%) 0px 0.1rem 0.4rem;
	position:absolute;
	top:1rem;
	left:1rem;
}
.close-button:before,
.close-button:after {
    content: '';
    width: 55%;
    height: 3px;
    background: #000000;
    position: absolute;
    top: 48%;
    left: 22%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.close-button:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.optionname::after{
	content: ", ";
}

.optionname:last-child::after{
	content: "";
}

.optionname.small{
    color:#585858;
    font-size: .8rem;
    font-weight: normal;
}

.nosh-banner-dot{
    bottom: 5px !important;
}

.carousel-item-nosh{
    padding: 0 1.2px;
}